@font-face { 
    font-family: 'Roboto Medium';
    src: url('assets/Roboto-Medium.ttf') format('truetype');
}

@font-face { 
    font-family: 'Roboto Light';
    src: url('assets/Roboto-Light.ttf') format('truetype');
}

html,
body {
    margin: 0;
    padding: 0;
}

.header {
    /* background-color: black; */
    padding-bottom: 10px;
    width: 100%;
    height: 10vh;
    display: block;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo-container {
    height: 100%;
    gap: 2px;
    display: flex;
    margin-left: 2%;
    /* background-color: red; */
}

.microphone-logo {
    width: 10%;
    height: auto;
}

.we-music-title {
    margin: 0;
    margin-top: 6px;
    font-size: 30px;
    font-family: "Roboto Medium";
    font-weight: normal;
    color: black;
}

.header-options {
    display: flex;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
    font-family: "Roboto Light";
}

a {
    text-decoration: none;
    color: black;
}

.header-main-options {
    font-size: 25px;
}

.dropdown-logo {
    width: 5%;
    height: auto;
}

.shopping-cart-logo {
    width: 10%;
    height: auto;
}

#card-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.card-content {
    padding: 20px;
    font-family: "Verdana";
    color: #777;
}

.card-content h2 {
    margin-top: 0;
    font-size: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
    padding: 10px;
}

button {
    text-align: center;
    background-color: #666;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin: 5px;
}